.TodoCard {
  border: 1rem solid whitesmoke;
  background-color: whitesmoke;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: -2rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  opacity: 0.3;
  
}
.TodoCard:hover{
    opacity: 1;
}
.field {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  width: 12rem;
  color: black;
  
}

