.bluffbutton{
    opacity: 0.3;
    border:1rem solid whitesmoke;
    background-color: whitesmoke;
    width:12rem;
    border-radius:.5rem;
    
}
.bluffbutton:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: 1s;
    
   
}
.field1{
   margin-top: 1rem; 
   border:1px solid whitesmoke;
    background-color: whitesmoke;
    width: 12rem;
    color:black;
    height: 2rem;
    margin-right: 1rem;
    border-radius: .5rem;
}
.field{
    border:1px solid whitesmoke;
    background-color: whitesmoke;
    width: 12rem;
    color:black;
    height: 2rem;
    margin-right: 1rem;
    border-radius: .5rem;


}
.field:focus{
    background-color: lightgray;
    outline: none;
    transform: scale(1.2);
    transition: .5s;
    

}
.container1{
    display: flex;
    justify-content: space-around;
    height: 100px;
    color :#39FF14;
    font-weight: 800;

}
.moreoption{
    background-color: transparent;
    border: none;
    color: black;
    font-size: larger;
}
.container{
    background-color:aliceblue ;
    display: flex;
    flex-direction: column;
    width:20rem;
    border-radius: .5rem;
}


.addbutton{
    height:2rem;
    border: none;
    margin-bottom: 1rem;
    margin-left: 1rem;

    
}
.addbutton:hover{
    transform:scale(1.5);
    transition: 1s;
    color: blue;
}
.singleTaskContainer{
    display: flex;
    margin: auto; 
    
}
.delButton{
    
    height: 2rem;
    margin: auto;
    border: none;
    background-color: transparent;
    
}
@keyframes rot {
    0% {
      transform: rotate(-25deg);
    } 50% {
      transform: rotate(25deg);
    } 100% {
      transform: rotate(-25deg);
    }
}
.delButton:hover{
    animation: .8s rot ease infinite;
    cursor:grab ;   
}

.clock:hover{
    animation: .8s enlarg ease infinite;

}
@keyframes enlarg{
    0% {
        transform:scale(1.2);
      } 50% {
        transform: scale(1.5);
      } 100% {
        transform: rotate(1.2);
      }
}
.singleTaskContainer:nth-child(1){
    margin-top:1rem;
    background-color: pink;
    color:#2B65EC;
    width:80%;
    border-radius:.5rem;
    margin-bottom:1rem;
    
}
.singleTaskContainer:nth-child(2){
    margin-top:1rem;
    background-color: #2B65EC;
    color:pink;
    width:80%;
    border-radius:.5rem;
    margin-bottom:1rem;
}
.singleTaskContainer:nth-child(3){
    margin-top:1rem;
    background-color: pink;
    color:#2B65EC;
    width:80%;
    border-radius:.5rem;
    margin-bottom:1rem;
}
.singleTaskContainer:nth-child(4){
    margin-top:1rem;
    background-color: #2B65EC;
    color:pink;
    width:80%;
    border-radius:.5rem;
    margin-bottom:1rem;
}
.singleTaskContainer:nth-child(5){
    margin-top:1rem;
    background-color: pink;
    color:#2B65EC;
    width:80%;
    border-radius:.5rem;
    margin-bottom:1rem;
}
.singleTaskContainer:nth-child(6){
    margin-top:1rem;
    background-color: #2B65EC;
    color:pink;
    width:80%;
    border-radius:.5rem;
    margin-bottom:1rem;
}
.singleTaskContainer:nth-child(7){
    margin-top:1rem;
    background-color: pink;
    color:#2B65EC;
    width:80%;
    border-radius:.5rem;
    margin-bottom:1rem;
}
.singleTaskContainer:nth-child(8){
    margin-top:1rem;
    background-color: #2B65EC;
    color:pink;
    width:80%;
    border-radius:.5rem;
    margin-bottom:1rem;
}
.singleTaskContainer:nth-child(9){
    margin-top:1rem;
    background-color: pink;
    color:#2B65EC;
    width:80%;
    border-radius:.5rem;
    margin-bottom:1rem;
}
.singleTaskContainer:nth-child(10){
margin-top:1rem;
    background-color: #2B65EC;
    color:pink;
    width:80%;
    border-radius:.5rem;
    margin-bottom:1rem;
}
.singleTaskContainer:nth-child(11){
margin-top:1rem;
    background-color: pink;
    color:#2B65EC;
    width:80%;
    border-radius:.5rem;
    margin-bottom:1rem;
}
.singleTask{
    width:180px;
    margin: auto;
    
}
.bluff_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}